common/xrd-gatling-tests/gatling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://producer.x-road.eu"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://producer.x-road.eu"
                  xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
                  xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema targetNamespace="http://producer.x-road.eu"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://x-road.eu/xsd/xroad.xsd"
                       schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>
            <xs:import namespace="http://ws-i.org/profiles/basic/1.1/xsd"
                       schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd"/>
            <xs:import namespace="http://www.w3.org/2005/05/xmlmime"
                       schemaLocation="http://www.w3.org/2005/05/xmlmime"/>
            <xs:element name="mock">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="desiredResponse" type="xs:string">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>
                                        Requests a specific response
                                    </xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="data" type="xs:string">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any data</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="xml" type="xs:anyType">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any XML content</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="mockResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="data" type="xs:string">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any data</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="xml" type="xs:anyType">
                            <xs:annotation>
                                <xs:appinfo>
                                    <xrd:title>Any XML content</xrd:title>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>

    <wsdl:message name="mock">
        <wsdl:part name="mock" element="tns:mock"/>
    </wsdl:message>
    <wsdl:message name="mockResponse">
        <wsdl:part name="mockResponse" element="tns:mockResponse"/>
    </wsdl:message>

    <wsdl:message name="requestHeader">
        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="issue" element="xrd:issue"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>

    <wsdl:portType name="testServicePort">
        <wsdl:operation name="mock">
            <wsdl:documentation>
                <xrd:title>mock</xrd:title>
                <xrd:notes>Technical notes for mock:
                    This is a simple SOAP service.
                </xrd:notes>
            </wsdl:documentation>
            <wsdl:input name="mock" message="tns:mock"/>
            <wsdl:output name="mockResponse"
                         message="tns:mockResponse"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="mockPortSoap11"
                  type="tns:testServicePort">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="mock">
            <soap:operation soapAction="" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input name="mock">
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="client" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="service" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="id" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="userId" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="issue" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output name="mockResponse">
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="client" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="service" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="id" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="userId" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="issue" use="literal"/>
                <soap:header message="tns:requestHeader"
                             part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="mock">
        <wsdl:port name="mockPortSoap11"
                   binding="tns:mockPortSoap11">
            <soap:address location="http://xtee2.ci.kit:8089/xrd-mock"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
